$tl-green: #84c651;
$tl-green-bright: #75fb5c;
$tl-green-black-leak: #0e221a;

$tl-black: #070210;
$tl-gray-dark: #35353b;
$tl-gray-mid: #a0a0a7;
$tl-gray-light-darker: #c6c6c6;
$tl-gray-light: #dadada;
