@import "technopolis-colors";

@mixin ui-text {
  @include exo-medium;
  font-size: 1.5rem;
}

.rl2-exhibit {
  #rewards-ui .ai-training-view-button-step {
    width: 60px;
    height: 60px;
  }

  .ai-training-view-button {
    border-width: 4px;
    bottom: 3px;

    &.active {
      background-color: $tl-green-bright;
    }
  }

  .ai-training-view-button-clear {
    @include ui-text;
    width: 9em;
  }

  .ai-training-view-slider {
    .slider-limit {
      @include ui-text;
      bottom: -1em;
      padding-bottom: 2em;

    }

    .slider-limit.slider-limit-min {
      background-position: center 1.9em;
    }

    .slider-limit.slider-limit-max {
      background-position: center 1.5em;
    }
  }
}

.maze-editor-palette .maze-editor-palette-bar .item .label {
  width: 6em;
  @include ui-text;
}

.hold-button {
  .progress {
    background-color: $tl-green-bright;
  }
}

input[type="range"]::-webkit-slider-thumb {
  background-color: $tl-green;
}

input[type="range"]::-moz-range-thumb {
  background-color: $tl-green;
}
