@import "technopolis-colors";

.text {
  position: relative;
  z-index: 200;
  font-size: 1.3rem;
  line-height: 1.5;

  p:last-child {
    margin-bottom: 0;
  }
}

.text-large {
  font-size: 1.75rem;
  font-weight: bold;
}

.tl-box {
  background-color: $tl-gray-light;
  background: linear-gradient(105deg, $tl-gray-light-darker 0%, $tl-gray-light 86%, white 86%, white 93%);
  padding: 40px;
  padding-right: 180px;
  @include exo-medium;

  p:last-child {
    margin-bottom: 0;
  }

  ul:last-child {
    margin-bottom: 0;
  }
}
