.rl2-exhibit #explore-exploit-ui {
  position: relative;
  bottom: auto;
}

.rl2-exhibit #lang-switcher-container .lang-switcher {
  top: 25px;
  left: 0;
  right: auto;
  bottom: auto;
}

.exhibit-maze-editor-palette {
  .editor-palette-button-action-reset-map {
    display: none;
  }
}
