@import "technopolis-font";

$exhibit-width: 1080px;
$exhibit-height: 1920px;

.rl2-exhibit {
  @include exo-regular;
}

.rl2-exhibit-portrait {
  width: $exhibit-width;
  height: $exhibit-height;
}

.panel-lg {
  height: 1210px;
}

.text {
  position: relative;
  z-index: 2000;
}
